# css

.fnt-brand{
    font-family: Nixie One, Monospace;
    color: #ffce2b;
    font-size: 20px;
  }

.fnt-nav{
  font-family: Orbitron, Monospace;
  font-size: 20px;
}

body { 
  position: relative;
}

//#nav_men{
  //background-color: #42253B;
// }
#about {padding-top:50px;height:800px; width: 100%;color: #ffce2b ; background-color:  black ; 
}
#portfolio {padding-top:50px;height:1000px; width: 100%; color: #ffce2b ; background-color: #252824; 
}
#contact {padding-top:100px;height:800px; width: 100%; color: #959492 ; background-color: black; 
}

footer { 
  
  background-color: #252824;
  position: absolute;
  padding-left:30px;
  padding-right:30px;
padding-top:30px;height:90px; width: 100%; color: #b2afac;
}

.about-contact{
  font-family: Khula, Monospace;
  font-size: 30px;
  color: #959492 ;
}

.portfolio-text{
  font-family: Khula, Monospace;
  font-size: 30px;
  color: #ffce2b ;
}

h1{
    font-family: Julius Sans One
, Monospace;
    //color: #ffce2b ;
   padding-left: 15px;
}
h2{
  color: green;
}

.fnt-social{
  font-family: Orbitron, Monospace;
  font-size: 20px;
}

.thick-green-border {
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 5%;
  }

.round-border {
    font-size: 30px;
    width: 5px;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
     
}

i{
 color: #ffce2b; 
}



p{
  padding-left: 50px;
  padding-top: 20px;
}


ul li {
   // display:inline;
    margin-left:20px;
}

div button.round-border{
    background-color:black;       
    transition: color 1.5s linear; /* vendorless fallback */
    -o-transition: color 1.5s linear; /* opera */
    -ms-transition: color 1.5s linear; /* IE 10 */
    -moz-transition: color 1.5s linear; /* Firefox */
    -webkit-transition: background-color 1.5s linear; /*safari and chrome */
}

div button:hover {
    background-color: #5FAE57;
    cursor: pointer;
}

div button i:hover{
    color: black;       
    transition: color 1.0s linear; /* vendorless fallback */
    -o-transition: color 1.0s linear; /* opera */
    -ms-transition: color 1.0s linear; /* IE 10 */
    -moz-transition: color 1.0s linear; /* Firefox */
    -webkit-transition: color 1.0s linear; /*safari and chrome */
}

#submit{
  margin-top: 10px;
}

.works{
    background-color: #009131;
    width: 250px;
    height: 300px;
    border: 3px solid black;
    padding: 10px;
    margin: 25px;
   
}

#media{
  position: relative;
}

.body-text{
  font-family: Khula, Monospace;
  font-size: 25px;
  color: #09c467;
}


.box{
    width: 100%;
    pointer-events: none;
}

 .wrapper {
    background-color: black;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 5;
  }
  .form-row > textarea {
    flex: 5;
	border: 0;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
	flex: 5;
  }
  .form-row > button {
   background: gray;
   color: white;
   border: 0;
   padding: .5em;
   flex: 5;
   
  }
  
  form{
	width: 50%;
	
	  
  }	  
	  
.cover{
  background-color: yellow;	
  width: auto;
  height: device-height;	
}

@media screen and (min-width: 980px) /* Desktop */ {
  .cover {
    background: red;
    //height: 768px;	  
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  .cover {
    background: blue;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .cover {
    background: green;
    //height: 640px;	  
  }
}
